
body {
    background-color: #AFC97E;
    margin-bottom: 65%;
    padding: 0;
    font-family: 'Roboto', sans-serif;
     
}


nav ul {
    list-style: none;
    text-align: center;
    background-color: #FFDF64;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.75%;
    
}

nav a {
    text-decoration: none;
    color: #877B66;
    display: block;

}

nav a:hover {
    background-color: white;
}

/* headings and logo */

h1 {
    text-align: center;
    font-size: 50px;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #618A61;
    
}

h2 {
    text-align: center;
    font-style: italic;
}

footer {
    display: inline-block;
    bottom: 0;
    left: 40%;
    position: fixed;
    
}


/* Style classes*/

.pagephoto {
    text-align: center;
    size: medium;

}

.photo1 {
    background-position: center;
    background-image: url("https://c.pxhere.com/photos/35/e8/planet_green_natural_earth_ecology_environment_eco_natural_design-853847.jpg!d");
    background-repeat: no-repeat;
}

.photo2 {
    background-position: center;
    background-image: url("https://c.pxhere.com/photos/d0/38/recycle_reuse_recycling_recyclable_symbol_reused_logo-1146683.jpg!d");
    background-repeat: no-repeat;
}

.photo3 {
    background-image: url("https://c.pxhere.com/photos/30/9e/earth_globe_recycling_world_environment_ecology_symbol_environmentally_friendly_energy_protection-1144553.jpg!d");
    background-position: center;
    background-repeat: no-repeat;
}

/* Style IDs*/


#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* Style classes*/

.textright {
    text-align: right;
    margin-left: 75%;
    position: right;
    padding: 5%;
    
    
}